<!-- about.ejs -->
<div class="container name-container">
  <h1 class="display-1"><%= name %></h1>
</div>

<div class="container about-container">
  <div class="row row-container">
    <div class="col-md-6">
      <h1>Background</h1>
      <p>
        I was born and raised in the boothell of Misouri in a very small town
        called Portageville. In this little town my family owned a lovely
        chinese restaruant where they worked for around 30 years before
        retiring. Coming from a super small town I had to adjust so much when it
        came to coming to Mizzou. I wasn't familiar with being around so many
        people my age constantly but I feel in love with connecting with others.
        Growing up, I would spend my time helping out at the restaurant like
        taking orders, chekcing up on customers, and being a cashier(so I guess
        technically I've had a job since I was 12). With all the time spent at
        the restaurant I would also spend alot of time online. That is when I
        found out about coding and many other things! I loved to learn and teach
        myself things online especially through YouTube. Whether that was just
        watching a funny coding video or following projects I've felt like I've
        learned so many different things from the time spent at the restaurant.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Hobbies and Interests</h2>
      <ul>
        <li>Photography and Videogrpahy</li>
        <li>Video Editing</li>
        <li>Graphic Design</li>
        <li>Crypto and Web 3</li>
        <li>Artificial Intelligence</li>
        <li>Networking and Connecting with Others</li>
      </ul>
    </div>
  </div>
</div>

<!-- Additional content about your application or team -->
