<!-- home.ejs -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3">Pawprint: <%= pawprint %></h1>
      <p class="lead">
        From research, design, to deployment I have always loved Web
        Development! Seeing something you build from scratch be deployed on the
        World Wide Web sparked an interest in me since High School.And I am very
        excited to see what I can learn from this class. From this class I would
        love to learn the ins and outs of web development and develop enough
        skills to not only be able to code what I want to code but also to help
        me with my carreer opportunities. To be more specific I want to learn
        more about the front end development phase of web application. Anything
        ranging from the research to the complicated desgins in css and
        bootstrap. I hope to gain a sense of clalirty and confidence when it
        comes to web deployment. Knowing what tools to use and not being afriad
        to learn and test something new within my code. I believe that this
        class will help me with that and I canot wait to see what I can learn.
      </p>
    </div>
  </div>
</div>
